extends layout

block content
  nav
    ul
      if !currentUser
        li
          a(href="/users/sign-up") Sign Up
        li
          a(href="/users/login") Log In
      if currentUser
        li
          a(href="/users/logout") Log Out
        li
          a(href="users/messages") Chat
        li
          a(href="/users/admin") Admin
  h2 Welcome to the Website, #{currentUser ? currentUser.username : "Guest"}!
  if currentUser && currentUser.membershipStatus == false
    p You are not a member. Enter the code to become a VIP!
    a(href="/users/membership") VIP Sign Up
  else if currentUser && currentUser.membershipStatus == true
    p You are a VIP member. Welcome!
  else
    p Please create an account or log in to access the chat.

  if currentUser && currentUser.isAdmin
    p You are an admin. You can view usernames of message creators and delete messages.
    
  // chat goes here
