extends layout

block content
  nav
    ul
      li
        a(href="/users/sign-up") Sign Up
      li
        a(href="/users/login") Log In

  h2 Welcome to the Website
  p Thank you for visiting our website. Enjoy your stay!