body {
  margin: 0;
}

@media only screen
  and (device-width: 375px)
  and (device-height: 812px)
  and (-webkit-device-pixel-ratio: 3) {
 
  body {
    font-size: 16px;
    padding: 10px;
  }
}


/* Form container */
.form-container {
  max-width: 400px;
  margin: 0 auto;
}

/* Form labels */
.form-label {
  display: block;
  margin-bottom: 5px;
}

/* Form inputs */
.form-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Form button */
.form-button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Form button hover effect */
.form-button:hover {
  background-color: #45a049;
}

/* Error messages */
.error-list {
  color: red;
  margin-top: 10px;
}

/* Style for the navigation bar */
nav {
  background-color: #333;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* Style for the welcome message */
h2 {
  color: #333;
  font-size: 24px;
  margin-top: 20px;
}

p {
  color: #666;
  font-size: 16px;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  background-color: #b92a2a;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.message {
  list-style-type: none;
  text-decoration: none;
  margin: 10px;
}